# 夸克网盘抽奖凭证自动获取订阅
# 适用端：Quantumult X
# 核心作用：免去手动配置 MitM 和 Rewrite 的繁琐步骤

hostname = drive-m.quark.cn

# 拦截请求获取 cookie 拼接值
^https:\/\/drive-m\.quark\.cn\/1\/clouddrive\/act\/growth\/reward url script-echo-response https://raw.githubusercontent.com/enkiger/Proxies/refs/heads/main/quark_cookie.js
